<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kssabd.prayertimes">
    <!-- API for User Specific Location -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.kssabd.prayertimes.others.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PrayerTimes"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.kssabd.prayertimes.activity.dua.SetDuaOfEachOption"
            android:parentActivityName="com.kssabd.prayertimes.activity.dua.Duas" />
        <activity
            android:name="com.kssabd.prayertimes.options.AboutUsOption"
            android:parentActivityName="com.kssabd.prayertimes.activity.MainActivity" />
        <activity
            android:name="com.kssabd.prayertimes.options.SettingsOption"
            android:parentActivityName="com.kssabd.prayertimes.activity.MainActivity" />
        <activity
            android:name="com.kssabd.prayertimes.options.QiblaDirectionOption"
            android:parentActivityName="com.kssabd.prayertimes.activity.MainActivity" />
        <activity
            android:name="com.kssabd.prayertimes.activity.CalendarDateLog"
            android:parentActivityName="com.kssabd.prayertimes.activity.LogActivity" />
        <activity
            android:name="com.kssabd.prayertimes.activity.AllPrayers"
            android:parentActivityName="com.kssabd.prayertimes.activity.MainActivity" />
        <activity android:name="com.kssabd.prayertimes.activity.dua.Duas" />
        <activity android:name="com.kssabd.prayertimes.activity.LogActivity" />
        <activity android:name="com.kssabd.prayertimes.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="com.kssabd.prayertimes.notification.AlertReceiver" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>